html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-colour);
}

.body-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh;
}

.header {
  text-align: center;
  padding: 2rem;
}

.main {
  background-color: var(--main-colour);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 80%;
}

main p {
  align-self: flex-start;
  justify-self: center;
  font-size: 2rem;
}

.cell {
  height: 10rem;
  width: 10rem;
  border: 2.5px solid black;
}

.dialog,
.finish {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog {
  top: 56%;
  padding: 3rem;
}

.finish {
  top: 20%;
  padding: 2rem 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

button {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: none;
  background-color: chartreuse;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
  transition: background-color 0.3s ease;
  transform: translateY(-0.33em);
}
button:active {
  transform: translateY(0);
}

.visible {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.winner {
  text-align: left;
  font-size: 1rem;
}

.board {
  border-collapse: collapse;
  border: none;
}

.board tr:first-child td {
  border-top: none;
}

.board tr:last-child td {
  border-bottom: none;
}

.board tr td:first-child {
  border-left: none;
}

.board tr td:last-child {
  border-right: none;
}

td {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: black;
}

.diagonal-right,
.diagonal-left,
.vertical,
.horizontal {
  position: relative; /* Make the cell a positioning context */
  overflow: hidden; /* Hide overflow if content goes beyond the line */
}

.diagonal-right::after,
.diagonal-left::after,
.vertical::after,
.horizontal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.diagonal-right::after {
  background: linear-gradient(
    to top left,
    transparent 49%,
    black 50%,
    transparent 50%
  );
}

.diagonal-left::after {
  background: linear-gradient(
    to top right,
    transparent 49%,
    black 50%,
    transparent 50%
  );
}

.vertical::after {
  background: linear-gradient(
    to left,
    transparent 49%,
    black 50%,
    transparent 50%
  );
}

.horizontal::after {
  background: linear-gradient(
    to bottom,
    transparent 49%,
    black 50%,
    transparent 50%
  );
}
